USE [master]
GO
/****** Object:  Database [Baza_leki]    Script Date: 25.04.2016 19:53:54 ******/
CREATE DATABASE [Baza_leki]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Baza_leki', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Baza_leki.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Baza_leki_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Baza_leki_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Baza_leki].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Baza_leki]
GO
/****** Object:  Table [dbo].[Medicines_Table]    Script Date: 25.04.2016 19:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medicines_Table](
	[ID_leku] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[Medicine_Name] [varchar](50) NOT NULL,
	[Dose] [varchar](50) NOT NULL,
	[Additional_Information] [varchar](max) NULL,
	[Beginning_Date] [datetime] NULL,
	[The_End_Date] [datetime] NULL,
	[Tolerance_Hour] [tinyint] NULL,
	[Iteration] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Leki_Tabela] PRIMARY KEY CLUSTERED 
(
	[ID_leku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users_Table]    Script Date: 25.04.2016 19:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[E-Mail] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Date_of_Birth] [date] NOT NULL,
 CONSTRAINT [PK_Users_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_email_Users_Table] UNIQUE NONCLUSTERED 
(
	[E-Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Medicines_Table]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_Table_Users_Table] FOREIGN KEY([ID])
REFERENCES [dbo].[Users_Table] ([ID])
GO
ALTER TABLE [dbo].[Medicines_Table] CHECK CONSTRAINT [FK_Medicines_Table_Users_Table]
GO
USE [master]
GO
