USE [master]
GO
/****** Object:  Database [Baza_leki]    Script Date: 20.06.2016 19:37:15 ******/
CREATE DATABASE [Baza_leki]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Baza_leki', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Baza_leki.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Baza_leki_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Baza_leki_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Baza_leki].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Baza_leki]
GO
/****** Object:  Table [dbo].[Doses]    Script Date: 20.06.2016 19:37:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doses](
	[DoseID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[ifTaken] [bit] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Dose] PRIMARY KEY CLUSTERED 
(
	[DoseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Frequency]    Script Date: 20.06.2016 19:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frequency](
	[FrequencyOptionId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Dosages] PRIMARY KEY CLUSTERED 
(
	[FrequencyOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 20.06.2016 19:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Medicine_Name] [nvarchar](150) NOT NULL,
	[Amount] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Beginning_Date] [datetime] NULL,
	[The_End_Date] [datetime] NULL,
	[Tolerance_Hour] [int] NULL,
	[FrequencyOptionId] [int] NULL,
	[FrequencyOptionValue] [nvarchar](50) NULL,
 CONSTRAINT [PK_Leki_Tabela] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.06.2016 19:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](250) NOT NULL,
	[Date_of_Birth] [date] NOT NULL,
	[Additional_Information] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users_Table_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_email_Users_Table] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Doses]  WITH CHECK ADD  CONSTRAINT [FK_Doses_Medicines] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[Doses] CHECK CONSTRAINT [FK_Doses_Medicines]
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_Dosages] FOREIGN KEY([FrequencyOptionId])
REFERENCES [dbo].[Frequency] ([FrequencyOptionId])
GO
ALTER TABLE [dbo].[Medicines] CHECK CONSTRAINT [FK_Medicines_Dosages]
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_Table_Users_Table] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Medicines] CHECK CONSTRAINT [FK_Medicines_Table_Users_Table]
GO
USE [master]
GO
